body {
    font-family: arial;
    background-color: #081020;
    color: white;
    text-align: center;
}
h1 {
    color: white;
}
h2 {
    color: #22d3ee;
}
button { 
    background-color: darkblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
form {
    background-color:yellowgreen ;
    width: 350px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}
input{
    padding: 8px;
    margin: 5px;
    box-sizing: border-box;
}
label{
    font-weight: bold;
}
nav {
    background-color: #081020;
    padding: 15px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;}
.logo span {
    color: #22d3ee;
    font-size: 24px;
    font-weight: bold;}
.logo strong {
    color: white;}
.logo b {
    color: #3882f6;}
.nav-links {
    display: flex;
    gap: 25px;}
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;}
.nav-links a:hover {
    color: #22d3ee;}
.contact-btn {
    background-color: #3882f6;
    color: white;
    padding: 10px 18px;
    border-radius: 20px;
    text-decoration: none;}
.contact-btn:hover {
    background-color: #22d3ee;}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
}
input:focus {
    outline: none;
    border: 2px solid darkblue;
}
button:hover {
    background-color: pink;
    cursor: pointer;
}
h1 {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
}
p {
    font-size: 18px;
    line-height: 1.6;
}
footer {
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 30px;
}
@media (max-width: 600px) {
    nav-a { 
    display: block;
    margin: 10px;
}
form {
    width: 90%;
}
h1 {
    font-size: 30px;
}
}
section {
    margin-bottom: 30px;
}
.navbar-brand{
    color: white !important;}
.navbar .nav-link{
    color: white !important;}
.navbar .nav-link:hover{
    color: #22d3ee !important;}